@font-face {
    font-family: 'Myriad Pro';
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriadpro-regular-webfont.eot');
    src: url('../fonts/myriadpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-regular-webfont.woff') format('woff'),
         url('../fonts/myriadpro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold';
    font-family: 'MyriadPro-Bold';
    src: url('../fonts/myriadpro-bold-webfont.eot');
    src: url('../fonts/myriadpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-bold-webfont.woff') format('woff'),
         url('../fonts/myriadpro-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-family: 'MyriadPro-BoldIt';
    src: url('../fonts/myriadpro-boldit-webfont.eot');
    src: url('../fonts/myriadpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-boldit-webfont.woff') format('woff'),
         url('../fonts/myriadpro-boldit-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro Italic';
    font-family: 'MyriadPro-It';
    src: url('../fonts/myriadpro-it-webfont.eot');
    src: url('../fonts/myriadpro-it-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-it-webfont.woff') format('woff'),
         url('../fonts/myriadpro-it-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}