/*clearfix with overflow*/

.content_wrapper,
#main .tabs_nav,
#main .summary,
#main .videos,
#main .profiles_row {
    overflow: hidden;
}

/*Top Border Colors*/
#indices .content {
    border-top: solid 10px #79AFDD;
}

#research .content {
    border-top: solid 10px #9EBA38;
}

#about .content,
#legal .content {
    border-top: solid 10px #F8981D;
}

/*Sidebar*/
#sidebar {
    width: 252px;
    height: 236px;
    padding: 17px 0;
    float: left;
}

/*Sidebar background colors*/
#indices #sidebar {
    background-color: #BDD8EE;
}

#research #sidebar {
    background-color: #B7CC6B;
}

#about #sidebar,
#legal #sidebar {
    background-color: #FCCD90;
}

/*Sidebar headings*/
#sidebar h3 a {
    font-size: 1.8em;
    color: #FFFFFF;
    padding: 15px 13px 11px 13px;
    display: block;
}

#sidebar h3.current a {
    font-family: 'MyriadPro-Bold', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
}

/*Sidebar Heading Highlight Colors*/
#indices #sidebar h3.current,
#indices #sidebar h3 a:hover {
    background-color: #79AFDD;
}

#research #sidebar h3.current,
#research #sidebar h3 a:hover {
    background-color: #9EBA38;
}

#about #sidebar h3.current,
#about #sidebar h3 a:hover,
#legal #sidebar h3.current,
#legal #sidebar h3 a:hover {
    background-color: #F8981D;
}

/*Sidebar Heading List*/
#sidebar ul li h3 a {
    background: url("../images/arrow-white.png") no-repeat 22px 19px;
    padding: 15px 35px 11px;
}

#sidebar ul li h3.current a {
    background: url("../images/arrow-white-bold.png") no-repeat 22px 19px;
}

/*Main Content*/
#main {
    width: 708px;
    float: left;
}

#main .main_image {
    width: 708px;
    height: 270px;
}

#main .map,
#main .map #map_canvas {
    width: 708px;
    height: 270px;
}

#main .main_image h2 {
    padding: 58px 0 0 40px;
}

#main .main_image h2 p {
    font-size: 3.5em;
}

/*Main Heading Highlight Colors*/
#indices #main h2 p {
    background-color: #79AFDD;
}

#research #main h2 p {
    background-color: #9EBA38;
}

#about #main h2 p,
#legal #main h2 p {
    background-color: #F8981D;
}

/*Images*/
#main .main_image {
    background-position: 0 0;
    background-repeat: no-repeat;
}

#indices #main .main_image,
#about.personnel #main .main_image {
    background-image: url('../images/watch-and-stock.jpg');
}

#indices.performance #main .main_image,
#indices.faq #main .main_image {
    background-image: url('../images/gold-bricks.jpg');
}

#research #main .main_image {
    background-image: url('../images/paper-graphs.jpg');
}

#research.academy #main .main_image {
    background-image: url('../images/pen-over-graphs-cool.jpg');
}

#about #main .main_image {
    background-image: url('../images/pen-over-graphs-warm.jpg');
}

#legal #main .main_image {
    background-image: url('../images/policy-definition.jpg');
}

/*Personnel Detail Page-------------------------*/
#about.personnel_detail #main .main_image {
    background-image: url('../images/default-personnel.png');
    background-color: #FCFBF9;
}

#about.personnel_detail #main .main_image ul {
    padding: 37px 100px 0 0;
    float: right;
}

#about.personnel_detail #main .main_image ul li {
    background: url("../images/arrow-orange.png") no-repeat 0 8px;
    font-size: 1.4em;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 37px;
}

/*Summary Section------------------------------*/
#main .summary {
    background-color: #F4F4F4;
    color: #303030;
    line-height: 1.5;
    padding: 37px 37px 17px 37px;
}

#main .summary h3 {
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 15px;
}

#main .summary h5 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 0;
}

#main .summary p {
    font-size: 1.4em;
    margin-bottom: 20px;
}

#main .summary p.title {
    margin-bottom: 0;
}

#main .summary p.footnote {
    font-size: 1.2em;
}

#main .summary .list {
    font-size: 1.4em;
    margin-bottom: 20px;
}

#about.contact #main .summary .list {
    float: left;
    width: 50%;
}

#main .summary .list_bulleted {
    padding-left: 30px;
    margin-bottom: 20px;
}

#main .summary .list_bulleted li {
    background: url("../images/arrow-orange.png") no-repeat 0 8px;
    font-size: 1.4em;
    padding-left: 15px;
}

/*Dynamically Inserted Content-------------------*/
#main .dynamic {
    padding: 37px 37px 0 37px;
    text-align: center;
}

/*Links-----------------------------------------*/
#main .links {
    padding: 15px 37px 0;
}

#main .links li {
    line-height: 1.5;
    padding-left: 12px;
    margin-bottom: 3px;
}

#main .links li a {
    font-size: 1.1em;
}

#indices #main .links li {
    background: url("../images/arrow-blue.png") no-repeat 0 6px;
}

#indices #main .links li a {
    color: #79AFDD;
}

#about #main .links li {
    background: url("../images/arrow-orange-back.png") no-repeat 0 6px;
}

#about #main .links li a {
    color: #F8981D;
}

/*Questions--------------------------------------*/
#main .questions {
    padding: 37px 37px 0;
}

#main .questions li {
    font-size: 1.4em;
    background: url("../images/arrow-blue.png") no-repeat 0 center;
    padding-left: 15px;
    margin-bottom: 15px;
}

#main .questions li a:hover {
/*    need hover style*/
}

#main .question {
    padding: 37px 37px 0;
    line-height: 1.5;
}

#main .question h5 {
    font-size: 1.6em;
    font-weight: bold;
}

#main .question p,
#main .question figure {
    margin-top: 20px;
}

#main .question p {
    font-size: 1.4em;
}

#main .question table {
    font-size: 1.2em;
    margin-top: 33px;
}

#main .question table,
#main .question table tr,
#main .question table td {
    border: solid 1px #E6E6E6;
}

#main .question table td {
    color: #848484;
    padding: 4px 8px;
}

#main .question table .table_title {
    text-align: center;
}

#main .question table .table_title td {
    color: #FFFFFF;
    background-color: #79AFDD;
    font-weight: bold;
    padding: 8px 0 6px;
}

#main .question table .table_head td,
#main .question table .table_total td {
    color: #303030;
    background-color: #F4F4F4;
}

#main .question figure {
    text-align: center;
}

#main .question figure figcaption {
    font-weight: bold;
    color: #848484;
    margin-top: 5px;
}

/*News and Research Story Format----------------*/
#main .stories {
    background-color: #F4F4F4;
    color: #303030;
    line-height: 1.5;
    padding: 20px 27px;
}

#main .stories h3 {
    font-weight: bold;
    font-size: 1.4em;
}

#main .stories .story {
    padding: 0 17px 10px;
    margin: 15px 10px 0;
    border-bottom: 2px solid #DCDCDC;
}

#main .stories .story.last {
    border-bottom: none;
}

#main .stories .story h4 {
    font-weight: bold;
    font-size: 1.2em;
    color: #9EBA38;
}

#main .stories .story .date {
    font-size: 1em;
    margin-bottom: 5px;
}

#main .stories .story .description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#main .stories .story a {
    font-weight: bold;
    font-size: 1em;
    color: #9EBA38;
    background: transparent url("../images/arrow-green.png") no-repeat right center;
    padding-right: 10px;
    margin-bottom: 10px;
}

/*Tabs-------------------------------------------*/
#main .tabs_nav {
    margin-top: 12px;
}

#main .tabs_nav li {
    text-align: center;
    float: left;
}

#main .tabs_nav li a {
    font-weight: bold;
    font-size: 1.4em;
    color: #FFFFFF;
    background-color: #949494;
    min-width: 100px;
    padding: 15px 27px;
    margin-right: 15px;
    display: block;
}

#main .tabs_nav li.current a {
    color: #303030;
    background-color: #F4F4F4;
}

#main .tab {
    display: none;
}

#main .tab.current {
    display: block;
}

/*Videos-----------------------------------------*/
#main .videos {
    background-color: #F4F4F4;
    padding: 37px 37px 7px 37px;
}

#main .videos .video {
    width: 300px;
    height: 160px;
    background-color: #DDDDDD;
    margin-bottom: 30px;
    float: left;
}

#main .videos .video.right {
    margin-left: 34px;
}

#main .videos .video h4 {
    font-weight: bold;
    font-size: 1.3em;
    color: #FFFFFF;
    background-color: #656565;
    padding: 6px 8px 8px;
}

#main .videos .video a {
    font-weight: bold;
    text-align: center;
    color: #656565;
    background: url("../images/video-play-sprite.png") no-repeat 0 0;
    padding-top: 70px;
    width: 64px;
    margin: 25px auto 0;
    display: block;
}

#main .videos .video a:hover {
    color: #9EBA38;
    background-position: -64px 0;
}

/*Profiles-----------------------------------------*/
#main .profiles_row {
    padding: 37px 0 0 0;
}

#main .profiles_row .profile {
    width: 152px;
    height: 230px;
    margin-left: 33px;
    overflow: hidden;
    float: left;
}

#main .profiles_row .profile.first {
    margin-left: 0;
}

#main .profiles_row .profile img {
    border: solid 1px #D8D8D8;
}

#main .profiles_row .profile h5 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.5;
    color: #000000;
    margin-top: 5px;
}

#main .profiles_row .profile p {
    font-size: 1em;
    color: #6B6B6B;
    line-height: 1.5;
}

/*Superscript------------------------------------*/
#main sup {
    vertical-align: super;
    font-size: 0.6em;
    line-height: normal;
}

#main .disclaimer sup {
    font-size: smaller;
    margin-right: 2px;
}

#main sup a {
/*    color: #79AFDD;*/
}

/*Disclaimer-------------------------------------*/
#main .disclaimer {
    margin: 37px 0 0 37px;
    font-size: 0.9em;
    line-height: 1.6;
}

#main .disclaimer h5 {
    font-weight: bold;
}

#main .disclaimer p {
    color: #808080;
    margin-bottom: 15px;
}

#main .disclaimer p a {
    color: #808080;
}
