/*clearfix with overflow*/

#main h2,
footer {
    overflow: hidden;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    font-size: 62.5%;
    color: #303030;
}

header,
.content_wrapper,
footer {
    width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: #303030;
}

h1, h2, h3 {
/*    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;*/
}

/*HEADER---------------------------------------*/
header {
    height: 87px;
    margin-bottom: 30px;
}

header #logo {
    width: 334px;
    height: 31px;
    margin-top: 50px;
    font-size: 4em;
    float: left;
}

header #navigation {
    float: right;
}

header #navigation .menu {
    margin-top: 65px;
    float: left;
    position: relative;
    z-index: 20;
}

header #navigation .menu h3 {
    padding-bottom: 20px;
}

header #navigation .menu h3 a {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #2C2C2C;
    font-size: 2em;
    padding: 11px 9px 7px 9px;
}

/*Highlight for selected page*/
/*#indices header #navigation .menu.indices h3 a {
    font-family: 'MyriadPro-Bold', 'Lucida Grande Bold', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
    background-color: #79AFDD;
}

#research header #navigation .menu.research h3 a {
    font-family: 'MyriadPro-Bold', 'Lucida Grande Bold', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
    background-color: #9EBA38;
}

#about header #navigation .menu.about h3 a {
    font-family: 'MyriadPro-Bold', 'Lucida Grande Bold', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
    background-color: #F8981D;
}*/

header #navigation .menu .sub_menu {
    position: absolute;
    top: 30px;
    right: 0;
    width: 240px;
    display: none;
    padding-top: 15px;
    background: transparent url('../images/header-menu-arrow-sprite.png') no-repeat 0 0;
}

header #navigation .menu.indices .sub_menu {
    left: 0;
    background-position: 0 0;
}

header #navigation .menu.research .sub_menu {
    background-position: 0 -20px;
}

header #navigation .menu.about .sub_menu {
    background-position: 0 -40px;
}

header #navigation .menu.active .sub_menu {
    display: block;
}

header #navigation .menu .sub_menu ul {
    padding: 20px 20px 30px 20px;
    width: 200px;
}

/*Specific background colors*/
header #navigation .menu.indices .sub_menu ul {
    background-color: #79AFDD;
}

header #navigation .menu.research .sub_menu ul {
    background-color: #9EBA38;
}

header #navigation .menu.about .sub_menu ul {
    background-color: #F8981D;
}

header #navigation .menu .sub_menu ul li {
    margin-bottom: 8px;
}

header #navigation .menu .sub_menu ul li a {
    color: #FFFFFF;
    font-size: 15px;
}

header #navigation .menu .sub_menu ul li a:hover {
    text-decoration: underline;
}


/*TITLES---------------------------------------*/
#sidebar h3 a {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
}

/*FIX FOR SMALL HEADING*/
#main .main_image h2 p {
    clear: both;
}

#main .tab h2 p,
#main .main_image h2 p {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
    padding: 12px 10px 5px 10px;
    margin-bottom: 10px;
    float: left;
}

#main .tab.indices h2 p,
#indices #main .main_image h2 p {
    background-color: #79AFDD;
}

#main .tab.research h2 p,
#research #main .main_image h2 p {
    background-color: #9EBA38;
}

#main .tab.about h2 p,
#about #main .main_image h2 p,
#legal #main .main_image h2 p {
    background-color: #F8981D;
}

/*FOOTER---------------------------------------*/

footer {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    margin-top: 45px;
    margin-bottom: 50px;
}

footer #disclaimer {
    font-size: 1.2em;
    line-height: 1.5;
    color: #626262;
    margin-bottom: 26px;
}

footer #copyright {
    font-size: 1.2em;
    color: #626262;
    float: left;
}

footer #legal_menu {
    font-size: 1.2em;
    float: right;
}

footer #legal_menu li {
    float: left;
}

footer #legal_menu li a:hover {
    text-decoration: underline;
}

