/*Clearfix with overflow-----------------------*/
#main h2,
footer,
#dialog .outbound_link_alert .options {
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    font-size: 62.5%;
    color: #303030;
    position: relative;
}

header,
.content_wrapper,
footer {
    width: 960px;
    margin: 0 auto;
    padding: 0 30px;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    color: #303030;
}

h1, h2, h3 {
/*    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;*/
}

/*Header---------------------------------------*/
header {
    height: 96px;
    margin-bottom: 18px;
}

header #logo {
    width: 328px;
    height: 31px;
    margin-top: 55px;
    font-size: 4em;
    float: left;
}

header #navigation {
    float: right;
}

header #navigation .menu {
    margin-top: 70px;
    float: left;
    position: relative;
    z-index: 20;
}

header #navigation .menu h3 {
    padding-bottom: 22px;
}

header #navigation .menu h3 a {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #2C2C2C;
    font-size: 2em;
    padding: 11px 9px 7px 9px;
}

/*Highlight for selected page------------------*/
#indices header #navigation .menu.indices h3 a {
    color: #FFFFFF;
    background-color: #79AFDD;
}

#research header #navigation .menu.research h3 a {
    color: #FFFFFF;
    background-color: #9EBA38;
}

#about header #navigation .menu.about h3 a {
    color: #FFFFFF;
    background-color: #F8981D;
}

/*Header Sub Menu--------------------------------*/
header #navigation .menu .sub_menu {
    position: absolute;
    top: 29px;
    right: 0;
    width: 240px;
    display: none;
    padding-top: 15px;
    background: transparent url('../images/header-menu-arrow-sprite.png') no-repeat 0 0;
}

header #navigation .menu.indices .sub_menu {
    left: 0;
    background-position: 0 0;
}

header #navigation .menu.research .sub_menu {
    background-position: 0 -20px;
}

header #navigation .menu.about .sub_menu {
    background-position: 0 -40px;
}

header #navigation .menu.active .sub_menu {
    display: block;
}

header #navigation .menu .sub_menu ul {
    padding: 20px 20px 30px 20px;
    width: 200px;
}

/*Header Sub Menu background colors------------*/
header #navigation .menu.indices .sub_menu ul {
    background-color: #79AFDD;
}

header #navigation .menu.research .sub_menu ul {
    background-color: #9EBA38;
}

header #navigation .menu.about .sub_menu ul {
    background-color: #F8981D;
}

header #navigation .menu .sub_menu ul li {
    margin-bottom: 8px;
}

header #navigation .menu .sub_menu ul li a {
    color: #FFFFFF;
    font-size: 15px;
}

header #navigation .menu .sub_menu ul li a:hover {
    text-decoration: underline;
}


/*Titles---------------------------------------*/
#sidebar h3 a {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
}

#main .tab h2 span,
#main .main_image h2 span {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    color: #FFFFFF;
    padding: 12px 10px 5px 10px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}

#main .tab.indices h2 span,
#indices #main .main_image h2 span {
    background-color: #79AFDD;
}

#main .tab.research h2 span,
#research #main .main_image h2 span {
    background-color: #9EBA38;
}

#main .tab.about h2 span,
#about #main .main_image h2 span,
#legal #main .main_image h2 span {
    background-color: #F8981D;
}

/*Footer---------------------------------------*/
footer {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    padding-top: 42px;
    padding-bottom: 50px;
}

footer #disclaimer {
    font-size: 1.2em;
    line-height: 1.5;
    color: #626262;
    margin-bottom: 26px;
}

footer #copyright {
    font-size: 1.2em;
    color: #626262;
    float: left;
}

footer #legal_menu {
    font-size: 1.2em;
    float: right;
}

footer #legal_menu li {
    float: left;
}

footer #legal_menu li a:hover {
    text-decoration: underline;
}

/*Dialog Box-------------------------------------*/
#dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1000;
    width: 100%;
    height: 100%;
    min-height: 400px;
    min-width: 600px;
    display: none;
}

#dialog.active {
    display: block;
}

#dialog .dialog_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
}

#dialog .video_player {
    position: relative;
    margin-top: -168px;
    margin-left: -298px;
    width: 595px;
    height: 335px;
    display: none;
}

#dialog .video_player.active {
    display: block;
}

#dialog .outbound_link_alert {
    position: relative;
    margin-top: -142px;
    margin-left: -257px;
    width: 515px;
    height: 284px;
    background: #FFFFFF;
    border: 3px solid #DBEAFA;
    text-align: center;
    line-height: 1.5;
    color: #303030;
    display: none;
}

#dialog .outbound_link_alert.active {
    display: block;
}

#dialog .outbound_link_alert .header {
    background-color: #79AFDD;
    padding: 30px 100px;
    margin-bottom: 15px;
}

#dialog .outbound_link_alert .header h5 {
    font-family: 'MyriadPro-Regular', 'Lucida Grande', 'Lucida Sans', Verdana, Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #FFFFFF;
}

#dialog .outbound_link_alert h6 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
}

#dialog .outbound_link_alert p {
    font-size: 1.2em;
}

#dialog .outbound_link_alert .link {
    margin-bottom: 15px;
}

#dialog .outbound_link_alert .link #outbound_link {
    font-size: 1.3em;
    color: #79AFDD;
    text-decoration: underline;
}

#dialog .outbound_link_alert .options {
    width: 300px;
    margin: 0 auto 20px;
}

#dialog .outbound_link_alert .options p {
    margin: 7px 10px 0 0;
    float: left;
}

#dialog .outbound_link_alert .options a.close {
    font-size: 1.1em;
    padding: 8px 10px;
    color: #FFFFFF;
    background-color: #808080;
    float: left;
}


